body {  display: flex;
      justify-content: center;  
      align-items: center; 
       min-height: 100vh;}
.loading {  max-width: 50%; 
     line-height: 1.4;  
     font-size: 1.2rem;  
     font-weight: bold;  
     text-align: center;}
     .loading__author {  font-weight: normal;
          font-size: 0.9rem;  
          color: rgba(189,189,189 ,1); 
           margin: 0.6rem 0 2rem 0; 
            display: block;}
            .loading__anim {  width: 35px;  height: 35px; } /*. Style the author text to look slightly different.*/
            .loading__anim {   width: 35px;   height: 35px;   display: inline-block;  } /*Create the animated loader*/
            .loading__anim {   width: 35px;   height: 35px;   display: inline-block;   border: 5px solid rgba(189,189,189 ,0.25);  } /*he loader has some border set.*/
            .loading__anim {  width: 35px; 
                              height: 35px; 
                              display: inline-block; 
                               border: 5px solid rgba(189,189,189 ,0.25); 
                               border-left-color: rgba(3,155,229 ,1); 
                               border-top-color: rgba(3,155,229 ,1); 
                               border-radius: 50%;
                               animation: rotate 1s infinite linear; /* Spin the loader */}
@keyframes rotate { to {  transform: rotate(1turn) } } /* Rotate 360 degrees */



